@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    align-items: center;
justify-content: center;
    position: sticky;
    background-color: #e4eaf1;
    min-height: 100vh;
}

.weather-layout {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #e4eaf1;
    min-height: 100vh;
}

.weather-app {
    display: flex;
    justify-content: center;
    margin-inline: 2%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-right: 10%;
    min-width: 200px;
    min-height: 91vh;
    background-color: #e4eaf1;
}

.city {
    font-size: 16px;
    padding: 6px 10px 6px 10px;
    color: dimgrey;
    align-items: center;
    justify-content: space-between;
}

.city-name {
    font-size: 44px;
    color: black;
    margin: 15px 0px 8px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-kerning: auto;
    align-items: center;
    justify-content: space-between;

}

.description {
    font-size: 48px;
    font-weight: 500;
     font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e91e63;
}

.deg {
    font-size: 44px;
    font-weight: 500;
    color: #424242;
}

.icon-temp {
    display: flex;
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    color: #424242;

}

.feels-like {
    font-weight: 500;
    color: rgb(8, 9, 10);
    font-size: 30px;
    margin-top: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.degfeelslike {
    font-size: 18px;
    font-weight: 700;
    color: rgb(8, 9, 10);
}

.min-max-temp {
    font-weight: 500;
    color: rgb(8, 9, 10);
    font-size: 30px;
    margin-top: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.degminmax {
    font-size: 18px;
    font-weight: 500;
    color: rgb(8, 9, 10);
}

.sun-rise-set {
    font-weight: 500;
    color: aliceblue;
    font-size: small;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading {
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 6px 30px 6px 30px;
    height: 100px;
    width: 100px;
}

.error-message {
    font-size: 24px;
    font-weight: 500;
    color: blueviolet;
    text-align: center;
}