* {
    margin: 0;
    padding: 0;
}
.App {
    min-width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
}

.weather-app {
    display: flex;
    justify-content: left;
    align-items: left;
    width:fit-content;
    padding-left: 20px;
    min-width: 230px;
    height: 200px;
    background-color: #4fc3f7;
    box-shadow: 0 4px 10px rgba(22, 21, 21, 0.1);
}

.city {
    font-size: 16px;
    padding: 6px 10px 6px 10px;
    color: dimgrey;
}

.city-name {
    font-size: 18px;
    color: #1976d2;
    margin: 15px 0px 8px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-kerning: auto;

}

.description {
    font-size: 22px;
    font-weight: 500;
    color: #e91e63;
}

.deg {
    font-size: 12px;
    font-weight: 500;
    color: #424242;
}

.icon-temp {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    align-items: center;
    color:#424242;

}

.feels-like {
    font-weight: 500;
    color: aliceblue;
    font-size: 16px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.degfeelslike {
    font-size: 10px;
    font-weight: 700;
    color: aliceblue;
}

.min-max-temp {
    font-weight: 500;
    color: aliceblue;
    font-size: small;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.degminmax {
    font-size: 8px;
    font-weight: 500;
    color: aliceblue;
}

.sun-rise-set{
    font-weight: 500;
    color: aliceblue;
    font-size: small;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading {
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 6px 30px 6px 30px;
    height: 100px;
    width: 100px;
}

.error-message {
    font-size: 24px;
    font-weight: 500;
    color: blueviolet;
    text-align: center;
}